
label[for="name"],
label[for="email"],
label[for="message"] {
  color: var(--white);
  font-weight: bold;
  font-size: 1.2rem;
}

textarea.form-control {
  padding-top: 10px; /* Adjust the padding-top value as needed */
}

.contact-form {
  background-color: var(--grey);
  padding-top: 20px;
}
.contact-form .form-control {
  height: 50px;
  font-size: 1;
  color: var(--grey);
  border-radius: 5px;
  border: none;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease;
  width: 500px;
}

.contact-form .form-control:focus {
  outline: none;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
}
