/* Navbar */
.navbar {
    background-color: var(--white);
    border-bottom: 1px solid var(--grey);
    margin-bottom: 20px;
    position: sticky;
    top: 0;
    z-index: 999;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary-color);
  }
  
  .nav-link {
    color: var(--blue);
    font-size: 1.2rem;
    font-weight: 400;
    transition: color 0.3s ease;
  }
  
  .nav-link:hover,
  .nav-link:focus {
    color: var(--primary-color);
  }
  
  /* Hero */
  .hero {
    padding: 4rem 0;
    background-size: cover;
    background-position: center;
    color: var(--white);
    text-align: center;
  }
  
  .hero h1 {
    font-size: 2.1rem;
    font-weight: 700;
    margin-bottom: 2rem;
  }
  
  .hero p {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 2rem;
  }
  
  .hero .btn-primary {
    background-color: lightslategray;
    border-color: lightslategray;
    font-size: 1rem;
    font-weight: 700;
    padding: 10px 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  